* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 24px;
  background-color: #E2ECEF;
  font-family: 'Roboto Condensed', sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid; */
  padding: 10px 0;
}

button{
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

.game {
  width: 1100px;
  height: 1100px;
  margin-left: 20px;
  padding: 10px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: calc(100% / 6);
  height: calc(100% / 6);
  /* background-color: red; */
}
.everything{
  display: flex;
  margin: 10px;
}
div i{
  margin: 10px;
  text-align: center;
}
.lives{
  margin: 10px;
}


.scoreBoard{
  /* display: inline-flex; */
  width: 400px;
  height: 600px;
  background-color: #fafafa;
  padding-top: 20px;
  margin: 230px 30px;
}
.mole {
  background-image: url(https://gallery.kissclipart.com/20180906/psw/kissclipart-whack-a-mole-clip-art-clipart-whac-a-mole-clip-art-c1444edc7b73ee01.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home{
  background-color: grey;
}

.safe{
  background-color: pink;
}

.obstacles {
  background-color: orange;

}
 .gem{
   background-color: blue;
 }
