* {
  box-sizing: border-box;
}
.mainContent{
  display: flex;
  height: 300px;
}

footer{
  padding-bottom: -100px;
}
.container{
  background-image: url(../img/marketStall.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 650px;
  height: 500px;
  margin: 0 300px 20px 300px;

}
.bottomOfStall{
  background-image: url(../img/marketStallBottom.png);
  height: 150px;
  width: 700px;
  margin: 90px 0 0 280px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.popUp{
display: none;
flex-direction: column;
position: absolute;
width: 240px;
height: 200px;
background-color: rgba(250, 250, 250, 0.9);
top: 50%;
left: 42%;
font-size: 30px;
color: black;
justify-content: center;
padding: 10px;
border-radius: 20px;

}
body {
  font-size: 24px;
  background-color:  #fafafa;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h1{
  margin: 0 0 10px 0;
  padding: 20px;
  color: green;
  -webkit-text-stroke-width: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
}
h1 h4 p {
text-align: center;
color: #C5B358;
font-family: 'Roboto Condensed', sans-serif;
}

h2{
  font-size: 30px;
}

h4{
font-size: 14px;
margin-top:10px;
}

h3{
  font-size: 20px;
}
p{
  font-size: 20px;
}

a{
  font-size: 12px;
  color: grey;
}
button{
  width: 75px;
  height: 30px;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Nanum Pen Script', cursive;
  background-color: #fafafa;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.logCrossiants {
  background-image: url(../img/logCrossiants.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.scoreBoard{
  background-image: url(../img/blackBoard.jpg);
  background-repeat: no-repeat;
  width: 400px;
  height: 450px;
  /* margin: 50px 20px 30px 30px; */
  padding: 10px;
  margin-top: 50px;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  border-radius: 20px;
}

.game {
  width: 700px;
  height: 450px;
  padding: 10px;
  margin-top: 50px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  border: 0.5px solid #696969;
  font 7px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: calc(100% / 6);
  height: calc(100% / 10);
}
div i{
  text-align: center;
}

.obstaclesLollipop {
  background-image: url(../img/lollipop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.obstaclesMilkshake {
  background-image: url(../img/milkshake.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.obstaclesDonut {
  background-image: url(../img/donut.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.obstaclesCupcake {
  background-image: url(../img/cupcake.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.sarahWithVegetables[data-type='0']{
  background-image: url(../img/littleGirl-radish.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sarahWithVegetables[data-type='1']{
  background-image: url(../img/littleGirl-tomato.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sarahWithVegetables[data-type='2']{
  background-image: url(../img/littleGirl-corn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sarahWithVegetables[data-type='3']{
  background-image: url(../img/littleGirl-pumpkin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sarahWithVegetables[data-type='4']{
  background-image: url(../img/littleGirl-broccoli.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sarahWithVegetables[data-type='5']{
  background-image: url(../img/littleGirl-mushroom.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.vegetable[data-type='0']{
   background-image: url(../img/radish.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.vegetable[data-type='1']{
   background-image: url(../img/tomato.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.vegetable[data-type='2']{
   background-image: url(../img/sweetcorn.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.vegetable[data-type='3']{
   background-image: url(../img/pumpkin.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.vegetable[data-type='4']{
   background-image: url(../img/broccoli.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.vegetable[data-type='5']{
   background-image: url(../img/mushroom.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 .home{
   background-image: url(../img/plate.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;

 }

.homeWithGem[data-type='0'] {
   background-image: url(../img/plate-radish.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.homeWithGem[data-type='1']{
   background-image: url(../img/plate-tomato.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.homeWithGem[data-type='2']{
   background-image: url(../img/plate-corn.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.homeWithGem[data-type='3']{
   background-image: url(../img/plate-pumpkin.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.homeWithGem[data-type='4']{
   background-image: url(../img/plate-broccoli.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
.homeWithGem[data-type='5']{
   background-image: url(../img/plate-mushroom.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }


 .sarah {
   background-image: url(../img/littleGirl.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 .safe{
   background-color: #fafafa;
 }
